extends layout

block content
  h1 Craigslist Searchify
  h2 (goodbye, cruel rails, it's node time)

  input#search(type="search", placeholder="search for some jobs on craigslist")

  h3#results

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
